html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    background-color: rgb(154, 154, 154);
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
    margin: 50px auto;
    position: relative;
}
.board {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    aspect-ratio: 1/1;
    background-color: rgb(157, 157, 157);
    border-radius: 15px;
    position: relative;
    padding: 10px;
    gap: 2px;
}
.board-cell {
    aspect-ratio: 1/1;
    background-color: rgb(189, 224, 255);
    z-index: 100;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.board-cell:hover {
    transform: scale(1.03);
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border: solid 1px rgb(255, 255, 255);
    z-index: 100;
}

.start-game, .reset-game {
    margin: 20px;
    background-color: orange;
    border-radius: 5px;
    border: none;
    min-width: 100px;
    font-size: 30px;
    padding: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
    transition: transform 0.5s ease;
}
.start-game:hover, .reset-game:hover {
    transform: scale(1.1);
    box-shadow: 1px 7px 10px rgba(0,0,0,0.3);
}